@font-face {
font-family: 'Helvetica Neue LT Std 45 Light';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 45 Light'), url('../fonts/HelveticaNeueLTStd Lt.woff') format('woff');
}

/* Html Reset */
/* ------------------------------------------------------------ */
html,body,p,ul,ol {
  padding:0;
  margin: 0;
}

html,body {
  font-family: 'Helvetica Neue LT Std 45 Light',helvetica,sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  font-size: 100%;
	vertical-align: baseline;
  color: #333;
}

img {
  max-width: 100%;
}

ul,ol {
  list-style: none;
}

/* Estrutura */
/* ------------------------------------------------------------ */
.cover {
  position: relative;
  width: 100%;
  height: 720px;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.cover:before,
.cover:after {
  content:"";
  clear:both;
}
 
.cover-gray {
  background: #efefef;
}

.cover .box-left,
.cover .box-right {
  width: 50%;
}

.cover .box-left {
  float:left;
  text-align: left;
}

.cover .box-right {
  float:right;
  text-align: right;
}

.cover .cover-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 70px;
  width: 90%;
  max-width: 520px;
}

.cover .cover-group-titulo {
  position: absolute;
  bottom: 50px;
  left: 50px;
  text-align: left;
  line-height: 100%;
}

.cover .cover-titulo,
.cover .cover-subtitulo {
  font-size: 2.5em;
  color: #696969;
}

.cover .cover-subtitulo {
  font-weight: normal;
}

.cover .box-media-cover{
  position: relative;
  height: 60%;
  text-align: center;
}

.cover .box-media-image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 66px;
  width: 320px;
}

.cover .box-media-count{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 1.5em;
}

.cover .box-media-content{
  position: relative;
  height: 40%;
  width: 100%;
}

.cover .box-media-bar{
  background: #efefef;
  text-align: center;
  padding: 36px 0;
  width: 100%;
  line-height: 150%;
}

.cover .box-media-col {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  font-size: 1.5em;
  text-align: center;
}

.cover .box-media-col:last-child {
  border:none;
}

.cover .box-media-footer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: table;
  text-align: center;
  font-size: 2em;
  width: 100%;
  height: 100%;
}

.cover .box-media-footer-content {
  display: table-cell;
  padding-top: 135px;
  vertical-align: middle;
}

.cover .box-table-content {
  position: relative;
  width: 80%;
  padding: 40px 10%;
}

.cover .box-table-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  display: table;
  vertical-align: middle;
}

.cover .box-table-image {
  display: table-cell;
  vertical-align: middle;
}

.cover .box-dado-main {
  height: 440px;
}

.cover .box-dado-avatar {
  text-align: left;
}

.cover .box-dado-avatar img,
.cover .box-dado-chat .chat-image img {
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.cover .box-dado-avatar figcaption {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 30px;
  font-size: 1.6em;
}

.cover .box-dado-avatar figcaption p{
  font-size: 0.8em;
}

.cover .box-dado-post {
  height: 375px;
  margin: 30px;
  text-align: center;
  border: 5px solid #efefef;
  background-color: #fff;
}

.cover .box-dado-footer {
  text-align: center;
  font-size: 2em;
  color:#fff;
}

.cover .box-dado-footer-col {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 0 50px;
  margin: 48px 0;
}

.cover .box-dado-footer-col:last-child {
  border:none;
}

.cover .box-dado-footer-col {
  text-align: right;
}

.cover .box-dado-footer-col:nth-child(even) {
  text-align: left;
}

.cover .box-dado-chat .chat-item{
  text-align: left;
  margin: 30px 0;
}

.cover .box-dado-chat .chat-item:nth-child(odd) {
  margin-left: 100px;
}

.cover .box-dado-chat {
  margin-left: -100px;
}

.cover .box-dado-chat .chat-image{
  padding: 0;
  margin: 0;
}

.cover .box-dado-chat .chat-image img{
  -moz-box-shadow: 1px 3px 10px #DBDBDB;
  -webkit-box-shadow: 1px 3px 10px #DBDBDB;
  -o-box-shadow: 1px 3px 10px #DBDBDB;
  box-shadow: 1px 3px 10px #DBDBDB;
}

.cover .box-dado-chat .chat-message{
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  border: 1px solid #f7f7f7;
  padding: 15px;
  text-align: left;
  width: 60%;
  font-size: 1.3em;
  margin-left: 40px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 1px 3px 10px #DBDBDB;
  -webkit-box-shadow: 1px 3px 10px #DBDBDB;
  -o-box-shadow: 1px 3px 10px #DBDBDB;
  box-shadow: 1px 3px 10px #DBDBDB;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0;
}

.cover .box-dado-chat .chat-message:before {
  content:"";
  position: absolute;
  top: -1px;
  left: -27px;
  border-style: solid;
  border-width: 0px 26px 27px 0px;
  border-color: transparent #f7f7f7 transparent transparent;
}

.cover .box-dado-chat .chat-message:after {
  content:"";
  position: absolute;
  top: 0;
  left: -25px;
  border-style: solid;
  border-width: 0px 26px 26px 0;
  border-color: transparent #FFFFFF transparent transparent;
}

.cover .box-dado-chat .chat-time{
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-size: 0.8em;
  color: #D6d6d6;
}

.cover .box-dado-graph {
  position: relative;
  height: 305px;
  color: #3B5998;
}

.cover .box-dado-graph .box-grafico {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.cover .box-dado-graph .box-grafico-positivo {
  position: absolute;
  top: 70px;
  right: 25px;
  text-align: right;
}

.cover .box-dado-graph .box-grafico-neutro {
  position: absolute;
  bottom: 80px;
  left: 40px;
}

.cover .box-dado-graph .box-grafico-neutro p{
  position: absolute;
  bottom: 10px;
  left: 0;
}

.cover .box-dado-graph .box-grafico-negativo {
  position: absolute;
  top: 40px;
  left: 60px;
}

/* Tabelas  */
/* ------------------------------------------------------------ */
table thead tr {
  height: 80px;
  color: #fff;
}

table tbody tr {
  background: #d8deea;
  height: 50px;
}

table tbody tr:nth-child(even) {
  background: #e3e6e9;
}

table th,
table td{
  border: 1px solid #fff;
  width: 5%;
}

/* Temas de cores das Midia sociais */
/* ------------------------------------------------------------ */
.facebook-theme .box-media-cover,
.facebook-theme .box-table-footer,
.facebook-theme table thead tr,
.facebook-theme .box-dado-footer {
  background: #3b5998;
}

.facebook-theme .box-media-col {
  border-right: 1px solid #3B5998;
}

.facebook-theme .box-media-footer,
.facebook-theme .box-media-col,
.facebook-theme .holder a.jp-current{
  color: #3B5998;
}

.twitter-theme .box-media-cover,
.twitter-theme .box-table-footer,
.twitter-theme table thead tr,
.twitter-theme .box-dado-footer {
  background: #00aeeb;
}

.twitter-theme .box-media-col {
  border-right: 1px solid #00aeeb;
}

.twitter-theme .box-media-footer,
.twitter-theme .box-media-col,
.twitter-theme .holder a.jp-current{
  color: #00aeeb;
}

.instagram-theme .box-media-cover,
.instagram-theme .box-table-footer,
.instagram-theme table thead tr,
.instagram-theme .box-dado-footer  {
  background: #3f729b;
}

.instagram-theme .box-media-col {
  border-right: 1px solid #3f729b;
  margin-right: 2px;
}

.instagram-theme .box-media-footer,
.instagram-theme .box-media-col,
.instagram-theme .holder a.jp-current{
  color: #3f729b;
}

/* Paginação */
/* ------------------------------------------------------------ */
.holder {
  width: 80%;
  margin: 40px 10%;
}

.holder a {
  font-size: 12px;
  cursor: pointer;
  margin: 0 5px;
  color: #333;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current {
  font-weight: bold;
}

.holder a.jp-disabled {
  color: #bbb;
}

.holder a.jp-current,
.holder a.jp-disabled{
  cursor: default;
  background: none;
}

.holder span { margin: 0 5px; }

/* Footers */
/* ------------------------------------------------------------ */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  background: #ff5d39;
  background: -moz-linear-gradient(left,  #ff5d39 0%, #fa2763 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff5d39), color-stop(100%,#fa2763));
  background: -webkit-linear-gradient(left,  #ff5d39 0%,#fa2763 100%);
  background: -o-linear-gradient(left,  #ff5d39 0%,#fa2763 100%);
  background: -ms-linear-gradient(left,  #ff5d39 0%,#fa2763 100%);
  background: linear-gradient(to right,  #ff5d39 0%,#fa2763 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5d39', endColorstr='#fa2763',GradientType=1 );
}
